* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --body-green: #DFF5E0;
  --nav-green: #1B3D2F;
  --nav-text: #EAD9B7;
  --accent: #CBB48A;
  --dark-green: #2E5339;
  --white: #ffffff;
  --buttons: rgba(255, 255, 255, 0.65);
}
.slider {

  width: 100%;
  max-width: 800px;
  overflow: hidden;
  margin: auto;
  border-radius: 10px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  height: 600px;
  width: 100%;  /* each image takes full slider width */
  flex-shrink: 0;
}



/* ========================
   BANNER
======================== */
.banner {
  display: flex;
  align-items: end;
  justify-content: flex-start;
  position: relative;
  background: linear-gradient(90deg, #2B4D3E, #2E5339);
  color: #EAD9B7;
  padding: 20px 100px;
  height: 160px;
  animation: fadeIn 1s ease;
}

.banner-text {
  position: absolute;
 
  font-family: 'Cinzel', serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #EAD9B7;
}


/* Navbar */
.navbar {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 93%;
  z-index: 1000;
  background: #1B3D2F;
  padding: 10px 20px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-logo {
  height: 60px;
  max-width: 100%;
  object-fit: contain;
}

.nav-text {
  color: #EAD9B7;
  font-family:'Playfair Display', serif;
  font-size: 25px;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 5px;
  transition: color 0.3s, border-bottom 0.3s;
}

.nav-links a:hover {
  color: #EAD9B7;
  border-bottom: 2px solid #EAD9B7;
}




body {
  background: #2E5339;
}

/* NAVBAR */



.logo img {
  width: 40px;
  margin-right: 10px;
}

.dot {
  color: #1B3D2F;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #CBB48A;
  font-weight: 500;
}

/* HERO */
.bg-image{
  background: url('../images/blur.png') no-repeat center center;
  background-size: cover;
  margin: 10px;
  border-radius: 25px;
}
.hero {
  

  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;

  color: white; /* ensures text is visible on background */
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  
  font-size: 70px;
  font-weight: 800;
}

.title {
  color: #EAD9B7;
  font-family:"Playfair Display", serif;
  text-shadow: 0 2px 6px rgba(0,0,0,0.4);

}

.hero-text h2 {
  font-size: 36px;
  color: #CBB48A;
  margin: 10px 0 20px;
}

.desc {
  font-size: 20px;
  color: #DFF5E0;
  margin-bottom: 30px;
  max-width: 500px;
}

.hero-img img {
  max-width: 500px;
}

/* ABOUT / MISSION / VISION */
.about-section {
  background: #ffffff;
  padding: 70px 80px;
  text-align: center;
  margin-top: 50px;
  border-radius: 25px 25px 0px 0px;
}

.about-section h2 {
  font-size: 40px;
  color: #1B3D2F;
  margin-bottom: 20px;
}

.about-section p {
  max-width: 850px;
  margin: 0 auto 40px;
  font-size: 18px;
  color: #444;
  line-height: 1.6;
}

.mv-container {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.mv-box {
  flex: 1;
  background: #DFF5E0;
  padding: 40px;
  border-radius: 20px;
}

.mv-box h3 {
  color: #1B3D2F;
  font-size: 28px;
  margin-bottom: 15px;
}

.mv-box p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 14px;
  font-size: 14px;
  color: #FFFFFF;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 50px;
  }

  .hero-img img {
    margin-top: 40px;
    max-width: 300px;
  }

  .mv-container {
    flex-direction: column;
  }

  nav {
    display: none;
  }
}
